*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(219, 247, 247);
}
.container{
  width: 20rem;  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  
}
.card{
  width: 100%;
  padding: 2rem 1.3rem;  

  background: radial-gradient(circle at 50% 0%, orange 36%, #fff 36%);
  box-shadow: 0 20px 30px rgba(0,0,0,0.15);
  border-radius: 0.5rem;
}
.card img{
  display: block;
  width: 6.25rem;
  max-height: 44rem;
  position: relative;
  margin: 1.3rem auto;
}

.hp{
  width: 5rem;
  background-color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 1.9rem;
  margin-left: auto;
  font-weight: 400;
}
.poke-name{
  text-align: center;
  font-weight: 600;
}
.types{
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}
.hp span, .types span{
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  font-weight: 600;
}
.types span{

}

.stats{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.stats p{
  color: rgb(66, 66, 66);
}

.btn{
  display: block;
  padding: 1rem 4rem;
  font-size: 1.1rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
  margin: 2rem auto;
  position: relative;
  border: none;
  border-radius: 0.3rem;
}

